$white-color: #fff;
$black-color: #000;
$black-color-high-emphasis: rgba(0, 0, 0, 0.87);
$black-color-medium-emphasis: rgba(0, 0, 0, 0.60);
$basic-black: #081F32;
$gray-color: #8E8E93;
$lightest-color: #F2F9FE;
$primary-500: #2196F3;